{% extends 'mon.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block title %}
問卷
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
<script src="{{ url_for('static', filename='js/vote.js') }}"></script>

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4 ms-4 mt-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2024總統民調問卷</font></font></span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-4 mt-3 py-2 text-dark text-decoration-none" href="/result"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">本站民調結果</font></font></a>
      <a class="me-4 mt-3 py-2 text-dark text-decoration-none" href="/wiki"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">近期民調</font></font></a>
    </nav>
</div>
<div class="container">
  <div class="alert alert-success" role="alert">
    投票成功
  </div>
  <a href="/result">前往查看投票結果</a>
</div>

{% endblock %}